h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding: 0 1rem;
}

p {
  padding: 0 1rem;
}

.demo-view {
  padding: 1rem;
  padding-top: 0;
  border: 1px solid rgba(49, 52, 57, 0.15);
  background-color: #fff;
  margin: 1rem;
}
.demo-view:before {
  content: 'Demo';
  display: block;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(49, 52, 57, 0.15);
  background-color: #f8f8f8;
  color: #9299a3;
  font-size: 0.875rem;
  margin: 0 -1rem;
  margin-bottom: 1rem;
}
.demo-view > :last-child {
  margin-bottom: 0;
}
.demo-view h1, .demo-view h2, .demo-view h3, .demo-view h4, .demo-view h5, .demo-view h6,
.demo-view .h1, .demo-view .h2, .demo-view .h3, .demo-view .h4, .demo-view .h5, .demo-view .h6 {
  padding: 0;
}
.demo-view p {
  padding: 0;
}
.demo-view .grid > * {
  padding: 1rem 0;
  background-color: #c0cad8;
  text-align: center;
}
.demo-view .grid > *:nth-child(2n) {
  background-color: #d0d7e2;
}
.demo-view .grid > *.grid > * {
  background-color: #e0e5ec;
}
.demo-view .grid > *.grid > *:nth-child(2n) {
  background-color: #eff2f5;
}
.demo-view .grid > header, .demo-view .grid > .header {
  background-color: #8fadff !important;
}
.demo-view .grid > footer, .demo-view .grid > .footer {
  background-color: #769aff !important;
}
.demo-view .grid > .contents {
  min-height: 320px;
}
.demo-view .container.demo {
  padding: 3rem 1rem;
  background-color: #c0cad8;
  text-align: center;
}
.demo-view .one-column {
  padding: 3rem 1rem;
  background-color: #c0cad8;
  text-align: center;
}
.demo-view .float-left.demo, .demo-view .float-right.demo {
  background-color: #769aff;
}
.demo-view .demo-block {
  padding: 1rem;
  background-color: #c0cad8;
  text-align: center;
}
.demo-view .demo-block:nth-child(2n) {
  background-color: #d0d7e2;
}

.sample-code {
  border: 1px solid rgba(49, 52, 57, 0.15);
  margin: 1rem;
}
.sample-code > *:last-child {
  margin-bottom: 0;
}

.demo-view + .sample-code {
  border-top: 0;
  margin-top: -1rem;
}
