@import "_variables";

// Caskaleton Site Styles
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    padding: 0 $padding;
}
p {
    padding: 0 $padding;
}

// Demo Sample
.demo-view {
    padding: $padding;
	padding-top: 0;
    border: 1px solid $color-border;
    background-color: #fff;
    // position
    margin: $margin;
	&:before {
		content: 'Demo';
		display: block;
		padding: 0 $padding;
		border-bottom: 1px solid $color-border;
		background-color: $color-palegray;
		color: $color-gray;
		font-size: $font-size-sm;
		// position
		margin: 0 0-$padding;
		margin-bottom: $margin;
	}
    > :last-child {
        margin-bottom: 0;
    }
    
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        padding: 0;
    }
    p {
        padding: 0;
    }
	//Grid
	.grid > * {
		padding: $padding 0;
		background-color: $color-lightgray;
		text-align: center;
		&:nth-child(2n) {
			background-color: lighten($color-lightgray, 5%);
		}
		&.grid > * {
			background-color: lighten($color-lightgray, 10%);
			&:nth-child(2n) {
				background-color: lighten($color-lightgray, 15%);
			}
		}
	}
	.grid {
		> header, > .header {
			background-color: lighten($color-positive, 20%) !important;
		}
		> footer, > .footer {
			background-color: lighten($color-positive, 15%) !important;
		}
		> .contents {
			min-height: 320px
		}
	}
	.container.demo {
		padding: $padding*3 $padding;
		background-color: $color-lightgray;
		text-align: center;
	}
	.one-column {
		padding: $padding*3 $padding;
		background-color: $color-lightgray;
		text-align: center;
	}
	.float-left.demo, .float-right.demo {
		background-color: lighten($color-positive, 15%);
	}
	.demo-block {
		padding: $padding;
		background-color: $color-lightgray;
		text-align: center;
		&:nth-child(2n) {
			background-color: lighten($color-lightgray, 5%);
		}
	}
}
.sample-code {
	border: 1px solid $color-border;
    // position
    margin: $margin;
    pre {
//        padding: $padding;
    }
	> *:last-child {
		margin-bottom: 0;
	}
}
.demo-view + .sample-code {
	border-top: 0;
	// position
	margin-top: 0 - $margin;
}