html,
body {
    font-size: $font-size;
    line-height: $line-height;
}
body {
	font-family: $font-family-ja;
	color: $color-text;
	background-color: transparent;
}

// Links
a {
	color: $color-link;
}
a:hover {
	color: $color-link-hover;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color-headings;
	font-weight: bold;
    line-height: $line-height;
	text-rendering: optimizeLegibility;
    // position
    margin-top: $margin-lg;
    margin-bottom: $margin;
}
h1, .h1 {
    font-size: $font-size-h1;
    
    +h2, +h3, +h4, +h5, +h6,
    +.h2, +.h3, +.h4, +.h5, +.h6 {
        margin-top: 0;
    }
    
    .subtitle {
        font-size: $font-size-lg;
    }
}
h2, .h2 {
    font-size: $font-size-h2;
    +h3, +h4, +h5, +h6,
    +.h3, +.h4, +.h5, +.h6 {
        margin-top: 0;
    }
    .subtitle {
        font-size: $font-size;
    }
}
h3, .h3 {
    font-size: $font-size-h3;
    +h4, +h5, +h6,
    +.h4, +.h5, +.h6 {
        margin-top: 0;
    }
    .subtitle {
        font-size: $font-size-sm;
    }
}
h4, .h4 {
    font-size: $font-size-h4;
    +h5, +h6,
    +.h5, +.h6 {
        margin-top: 0;
    }
    .subtitle {
        font-size: $font-size-sm;
    }
}
h5, .h5 {
    font-size: $font-size-h5;
    +h6, +.h6 {
        margin-top: 0;
    }
    .subtitle {
        font-size: $font-size-xs;
    }
}
h6, .h6 {
    font-size: $font-size-h6;
    .subtitle {
        font-size: $font-size-xs;
    }
}
section h1:first-child, section .h1:first-child,
section h2:first-child, section .h2:first-child,
section h3:first-child, section .h3:first-child,
section h4:first-child, section .h4:first-child,
section h5:first-child, section .h5:first-child,
section h5:first-child, section .h6:first-child,{
    margin-top: 0;
}
h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: inherit;
}
.subtitle {
    opacity: .5;
}

// Paragraph
p {
    font-size: $font-size;
}

// Top Space
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
figure {
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: $margin;
	}
}

// Lists
ul,
ol {
    &,
    & ul,
    & ol {
	    margin: 0 0 0 $margin;
	}
}
ol ol li {
	list-style-type: lower-alpha;
}
ol ol ol li {
	list-style-type: lower-roman;
}
nav {
    & ul,
    & ol {
        margin: 0;
	    list-style: none;
	    & ul,
	    & ol {
    	    margin-left: $margin;
	    }
	}
}
dl dt {
	font-weight: bold;
}
dd {
	margin-left: $margin;
}

// Block Tags
p, blockquote, hr, pre, ol, ul, dl, 
table, fieldset, figure, address, form {
	margin-bottom: $margin;
}
hr {
    border: none;
	border-bottom: $color-border;
	margin-top: -1px;
}
blockquote {
	padding-left: 1rem;
	border-left: 4px solid $color-border;
	font-style: italic;
	color: rgba($color-text, .65);
	& p {
    	margin-bottom: .5rem;
	}
}

// Inline
time, cite, small, figcaption {
	font-size: $font-size-sm;
}
cite {
    opacity: .6;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted rgba(0, 0, 0, .5);
	cursor: help;
    font-size: inherit;
}
var {
    font-size: $font-size;
	opacity: .6;
	font-style: normal;
}
mark, code, samp, kbd {
    position: relative;
    top: -1px;
	padding: 4px 4px 2px 4px;
	display: inline-block;
	line-height: 1;
	color: rgba($color-text, .85);
}
code {
	background: $color-palegray;
	color: $color-midgray;
}
mark {
	background: $color-warning;
}
samp {
	color: #fff;
	background: $color-focus;
}
kbd {
	border: 1px solid rgba(0, 0, 0, .1);
}
sub,
sup {
    font-size: $font-size-xs;
	line-height: 0;
	margin-left: 1rem/4;
	position: relative;
}
sup {
	top: 0;
}
sub {
	bottom: 1px;
}

// Preformatted
pre, code, samp, var, kbd {
	font-family: $font-family-monospace;
}
pre, code, samp, var, kbd, mark {
	font-size: $font-size-sm;
}
pre,
pre code {
    background: $color-palegray;
	color: $color-midgray;
	padding: 0;
	top: 0;
    display: block;
    line-height: $line-height;
	overflow: none;
	white-space: pre-wrap;
}
pre {
    padding: $padding;
	background: $color-palegray;
	color: $color-midgray;
	
	&[data-category]{
		padding-top: $padding*2;
		&:before {
			content: attr(data-category);
			display: block;
			padding: 0 $space-sm;
//			border: 1px solid $color-border;
//			border-top: 0;
//			border-left: 0;
			background-color: darken($color-palegray, 10%);
			color: $color-gray;
			font-size: $font-size-xs;
			// position
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

// Figure
figcaption {
	opacity: .6;
}
figure figcaption {
    position: relative;
    top: -1rem/2;
}
figure pre {
    background: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}
figure {
    & .video-container,
    & pre {
//        margin-bottom: $text-margin-bottom/2;
    }
}


// Alignment
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

// Text Colors
.text-error {
	color: darken($color-error, 5%);
}
.text-warning {
	color: darken($color-warning, 5%);
}
.text-success {
	color: darken($color-success, 5%);
}
.text-focus {
	color:  darken($color-focus, 5%);
}

// Modifiers
ul.unstyled {
    & {
        margin-left: 0;
    }
    &,
    & ul {
        list-style: none;
    }
}
.monospace {
   font-family: $font-family-monospace;
}
.upper {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.italic {
    font-style: italic !important;
}
.strong {
    font-weight: bold !important;
}
.normal {
    font-weight: normal !important;
}
.text-xs {
	font-size: $font-size-xs;
}
.text-sm {
	font-size: $font-size-sm;
}
.text-lg {
	font-size: $font-size-lg;
}
.text-xl {
	font-size: $font-size-xl;
}
.nowrap,
.nowrap td {
	white-space: nowrap;
}


// Text Columns
@media(min-width: $breakpoint-sm) {
    .columns-2,
    .columns-3,
    .columns-4 {
         column-gap: $padding;
    }

    .columns-2 { column-count: 2; }
    .columns-3 { column-count: 3; }
    .columns-4 { column-count: 4; }
}